<!-- <form [formGroup]="registerForm" (ngSubmit)="onRegisterOk()">
<p>register works!</p>
<div class="overlay"></div>
<div class="sign-in-container">
  <mat-card appearance="outlined">
    <mat-card-content>
      <h2>Sign In</h2>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="name" required>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" required>
        <input matInput formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" required>
        <input matInput formControlName="password" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput type="roll" required>
        <input matInput formControlName="roll" required>
      </mat-form-field>
      <button (click)="onRegisterOk()" mat-raised-button color="primary">register</button>
    </mat-card-content>
  </mat-card>
</div>
</form> -->



<form [formGroup]="registerForm" (ngSubmit)="onRegisterOk()">
  <div class="overlay"></div>
  <div class="sign-in-container">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h2>Register</h2>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <input matInput formControlName="role" required> <!-- שים לב לשם כאן -->
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Register</button>
        
      </mat-card-content>
    </mat-card>
  </div>
</form>
