<form [formGroup]="createLessonForm" (ngSubmit)="createLesson()">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h2>Create Lesson</h2>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content" required></textarea>
        </mat-form-field>
        <input type="hidden" formControlName="courseId">
        <button type="submit" mat-raised-button color="primary">Create Lesson</button>
      </mat-card-content>
    </mat-card>
  </form>
     
<!-- <p>add-course works!</p>

<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Teacher ID</mat-label>
      <input matInput formControlName="teacherId" required>
      <mat-error *ngIf="courseForm.get('teacherId')?.hasError('required')">Teacher ID is required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="courseForm.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="courseForm.get('description')?.hasError('required')">Description is required</mat-error>
    </mat-form-field>
  
    <button type="submit" mat-raised-button color="primary">Add Course</button>
</form> -->

