<form [formGroup]="createLessonForm" (ngSubmit)="createLesson()">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h2>Create Lesson</h2>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content" required></textarea>
        </mat-form-field>
        <input type="hidden" formControlName="courseId">
        <button type="submit" mat-raised-button color="primary">Create Lesson</button>
      </mat-card-content>
    </mat-card>
  </form>


