
<form [formGroup]="AddCourseForm" (ngSubmit)="AddCourse()">
    <div class="overlay"></div>
    <div class="sign-in-container">
      <mat-card appearance="outlined">
        <mat-card-content>
          <h2>add course</h2>
          <mat-form-field appearance="fill">
            <mat-label>title</mat-label>
            <input matInput formControlName="title" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>description</mat-label>
            <input matInput formControlName="description" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>teacherId</mat-label>
            <input matInput type="teacherId" formControlName="teacherId" required>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary">add</button>
          
        </mat-card-content>
      </mat-card>
    </div>
  </form>