<!-- <p>home works!</p>
<card-overview></card-overview> -->
<section>
  <div class="example-button-row">
    <button (click)="onSCourses()" mat-button>courses</button>
    
    <!-- <button mat-button disabled>Disabled</button> -->
    <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
  </div>
</section>

<div class="home-container">
  
  <!-- <img src="/src/app/images/pexels-karolina-grabowska-4195504.jpg" alt="Description of image" class="home-image"/> -->
</div>
<app-name [name]="name"></app-name> <!-- העבר את השם ל-NameComponent -->
  


