
  <section>
    <div class="example-button-row">
      <button (click)="onRegister()" mat-button>register</button>
      <button (click)="onSignIn()" mat-button>sign in</button>
      
      <!-- <button mat-button disabled>Disabled</button> -->
      <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
    </div>
  </section>
  <!-- <div class="example-button-container">
    <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div> -->

  